body{
  padding: 0;
  margin: 0;
  height: 100vh;
}

.el-container{
  height: 100%;
}

.el-header{
  //flex: 1!important;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.el-main{
  //flex: 8!important;
}

.el-footer{
  //flex: 1!important;
  height: initial!important;
  margin: 30px 0;
}

.ui-calendar{
  width: 90%;
  margin: 0 auto;
}

.ui-calendar-item.is-otherMonth {
  color: #bbb;
}

.ui-calendar-item {
  padding: 5px 10px;
  color: #666;
}

.vue-calendar-day-item:last-child{
  border-right-width: 1px;
}

.vue-calendar-header{
  display:none!important;
}

.vue-calendar-week-title{
  border-width: 1px 1px 1px 1px!important;
}

.vue-calendar.is-week{
  .vue-calendar-body .vue-calendar-body-row {
    height: 30em;
  }
}


.control-container{
  margin: 2% 0;
}

.carousel-cell{
  width: 15%;
  margin: 0 15px;
}

.is-today{
  .ui-calendar-item-date{
    color: #19a0ff;
  }
}

.vue-calendar-day-item{
  position: relative;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.more-event-tag{
  position: absolute;
  color: red;
  font-size: 10px;
  top: 0;
  right: 0;
}