<template>
  <el-container>
    <el-row class="control-container">
      <el-col :span="20" :offset="2" style="text-align: center">
          <h2 style="margin:10px 0;">體育署專案辦公室 - 體適能健檢活動</h2>
      </el-col>
      <el-col :span="20" :offset="2">
        <el-row :gutter="20">
          <el-col :span="2">
            <el-button @click="switchMode"> <i class="el-icon-date"></i></el-button>
          </el-col>
          <el-col :span="3">
            <el-button @click="prevMonth">{{prevButton}}</el-button>
          </el-col>
          <el-col :span="14" style="text-align:center">
            <span>{{currentDateValue}}</span>
          </el-col>
          <el-col :span="3">
            <el-button @click="nextMonth">{{nextButton}}</el-button>
          </el-col>
          <el-col :span="2">
            <el-button @click="dialogVisible = true"> <i class="el-icon-plus"></i></el-button>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <Calendar
      class="ui-calendar"
      :dateData="dateData"
      :firstDay="1"
      :on-month-change="onMonthChange"
      :mode="mode"
      :render-header="renderHeader"
      :weekLocaleData="weekLocaleData"
      ref="calendar"
    >
      <div
        :class="[
      'ui-calendar-item',
      {
        'is-otherMonth': item.isPrevMonth || item.isNextMonth,
        'is-today': item.isToday
      },
    ]"
        slot-scope="item"
      >
        <div
          :class="['ui-calendar-item-date']">
          {{item.date.date}}
        </div>
        <div
          class="ui-calendar-item-name"
          v-for="(item, index) in item.data"
          :key="index"
        >
          <div>{{item.title}}</div>
          <div v-if="mode==='week'">時間:{{item.address}}</div>
          <div v-if="mode==='week'">地址: {{item.address}} </div>
          <hr v-if="mode==='week'">
        </div>
        <span class="more-event-tag" v-if="item.data.length>2 && mode === 'month'"> more </span>
      </div>
    </Calendar>
    <el-footer>
      <el-row>
        <el-col :span="22" :offset="1">
          <flickity ref="flickity" :options="flickityOptions">
            <div class="carousel-cell" v-for="(item, index) in dateData">
              <el-card shadow="never">
                <div slot="header" class="clearfix">{{item.title}}</div>
                <div>{{item.dateTime}}</div>
                <div>{{item.address}}</div>
              </el-card>
            </div>
          </flickity>
        </el-col>
      </el-row>
      <el-row class="control-container"  v-if="dateData.length > 5">
        <el-col :span="22" :offset="2">
          <el-row :gutter="20">
            <el-col :span="4">
              <el-button @click="previous">往前</el-button>
            </el-col>
            <el-col :span="4" :offset="16">
              <el-button @click="next">往後</el-button>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-footer>
    <el-dialog
      title="新增活動"
      :visible.sync="dialogVisible"
      width="50%">
      <el-form ref="form" label-width="80px">
        <el-form-item label="活動名稱">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="活動地點">
          <el-input v-model="form.address"></el-input>
        </el-form-item>
        <el-form-item label="備註">
          <el-input type="textarea" v-model="form.note"></el-input>
        </el-form-item>
        <el-form-item label="活動時間">
          <el-col :span="11">
            <el-date-picker type="date" placeholder="選擇日期" v-model="form.date" style="width: 100%;"></el-date-picker>
          </el-col>
          <el-col class="line" :span="2" style="text-align: center">-</el-col>
          <el-col :span="11">
            <el-time-picker type="fixed-time" placeholder="選擇時間" v-model="form.time" style="width: 100%;"></el-time-picker>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">新增活動</el-button>
          <el-button>取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </el-container>
</template>

<script>
  import 'vue2-event-calendar/default.css';
  import axios from 'axios';
  import moment from 'moment';
  export default {
    data(){
      return {
        dialogVisible: false,
        form: {
          name: '',
          address: '',
          note: '',
          date: '',
          time: ''
        },
        weekLocaleData: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
        isCurMonth: false,
        currMonth: '',
        currentDateValue: '',
        dateData: [],
        mode: 'month',
        flickityOptions: {
          pageDots: false,
          prevNextButtons: false,
          cellAlign: 'left',
          draggable: '>5',
        },
      }
    },
    mounted(){
      let v = this;
      axios.get(`/api/getEvents`)
        .then(response => {
          // JSON responses are automatically parsed.
          response.data.forEach((item)=>{
            v.dateData.push({date: moment(item.dateTime).format('YYYY-MM-DD'), title: item.name, dateTime: item.dateTime, address: item.address});
          });
        }).then(response => {
          this.$nextTick(function () { // the magic
            this.$refs.flickity.rerender()
          })
        })
        .catch(e => {
          v.$message.error(e);
        })
    },
    computed:{
      prevButton(){
        return this.mode==='month'? "上個月": "上一週";
      },
      nextButton(){
        return this.mode==='month'? "下個月": "下一週";
      },
    },
    methods: {
      onSubmit(){
        let v = this;
        axios.post(`/api/createEvent`,{
          name: this.form.name,
          address: this.form.address,
          note: this.form.note,
          dateTime: moment(this.form.date).format("YYYY-MM-DD")+" "+moment(this.form.time).format("HH:mm:ss"),
        })
        .then(response => {
          // JSON responses are automatically parsed.
          this.$notify({
            title: '成功',
            message: '活動新增成功',
            type: 'success'
          });
          let item = response.data;
          v.dateData.push({date: moment(item.dateTime).format('YYYY-MM-DD'), title: item.name, dateTime: item.dateTime, address: item.address});
        }).then(response => {
          this.$nextTick(function () { // the magic
            this.$refs.flickity.rerender()
          })
        }).catch(e => {
          console.log(e);
        })
        this.dialogVisible = false;
      },
      next() {
        this.$refs.flickity.next();
      },
      previous() {
        this.$refs.flickity.previous();
      },
      switchMode(){
        this.mode = this.mode==='month'? "week": 'month';
      },
      prevMonth(){
        document.querySelector(".ui-calendar .ui-calendar-modeBtn:first-child").click();
      },
      nextMonth(){
        document.querySelector(".ui-calendar .ui-calendar-modeBtn:last-child").click();
      },
      onMonthChange(val) {
        if(this.mode==='month'){
          const weekWordMap = [""];
          if( (val["endDay"]["month"] - val["startDay"]["month"]) === 1 && val["endDay"]["year"] === val["startDay"]["year"]){
            this.currentDateValue =  val.startDay.year+" - " + val["startDay"]["month"] + "月";
          }else if(val["endDay"]["month"] - val["startDay"]["month"] > 1 && val["endDay"]["year"] === val["startDay"]["year"]){
            this.currentDateValue = val.startDay.year+" - " + (val["startDay"]["month"]+1)+"月";
          }else if(val["endDay"]["month"] - val["startDay"]["month"] < 0 && val["endDay"]["month"] === 1 && val["startDay"]["month"] !== 12){
            this.currentDateValue = val.startDay.year+" - " + (val["startDay"]["month"]+1)+"月";
          }else if(val["endDay"]["month"] - val["startDay"]["month"] < 0 && val["startDay"]["month"] === 12 && val["endDay"]["month"] !== 1) {
            this.currentDateValue = val.startDay.year + " - " + (val["endDay"]["month"] - 1) + "月";
          }else if(val["endDay"]["month"] - val["startDay"]["month"] < 0 && val["startDay"]["month"] === 12 && val["endDay"]["month"] === 1){
              this.currentDateValue = val.startDay.year+" - " + 12+"月";
          }else{
            this.currentDateValue = val.startDay.year+" - " + (val["endDay"]["month"]-1)+"月";
          }

        }else{
          this.currentDateValue = val["startDay"]["full"] + " 至 " + val["endDay"]["full"] ;
        }

      },
      changeDate() {
        this.$refs.calendar.changeDate('2017-12-12')
      },
      deleteItem(title) {
        this.dateData = this.dateData.filter(item => {
          return item.title !== title;
        })
      },
      renderHeader({ prev, next, selectedDate }) {
        const h = this.$createElement;
        const prevButton = h('div', {
          class: ['ui-calendar-modeBtn'],
          on: {
            click: prev
          }
        }, ['prev']);
        const nextButton = h('div', {
          class: ['ui-calendar-modeBtn'],
          on: {
            click: next
          }
        }, ['next']);
        const dateText = h('div', { class: ['ui-calendar-modeBtn'] }, [selectedDate]);
        return h('div', [prevButton, dateText, nextButton])
      }
    }
  }
</script>